$theme-colors: (
  "primary": #007cb0,
  "danger": #ff4136
);

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
.navbar {
  font-family: "Oxygen", sans-serif;
}
